{% extends "base.html" %}

{% load static %}

{% block css %}
    <link rel="stylesheet" href={% static "deps/css/my_footer_css.css" %}>
{% endblock css %}


{% block content %}
    <div class="mt-51 pt-51 bg-white custom-shadow rounded">
            <h2><strong>{{ content }}</strong></h2>
            <p><strong>{{ text_on_page }}</strong></p>
            <pre>
            декорируем, клеим, режем, шлифуем, рисуем, наносим, собираем, лепим и мечтаем!
            декорируем, клеим, режем, шлифуем, рисуем, наносим, собираем, лепим и мечтаем!
            декорируем, клеим, режем, шлифуем, рисуем, наносим, собираем, лепим и мечтаем!
            декорируем, клеим, режем, шлифуем, рисуем, наносим, собираем, лепим и мечтаем!
            декорируем, клеим, режем, шлифуем, рисуем, наносим, собираем, лепим и мечтаем!
            декорируем, клеим, режем, шлифуем, рисуем, наносим, собираем, лепим и мечтаем!
            декорируем, клеим, режем, шлифуем, рисуем, наносим, собираем, лепим и мечтаем!
            декорируем, клеим, режем, шлифуем, рисуем, наносим, собираем, лепим и мечтаем!
            декорируем, клеим, режем, шлифуем, рисуем, наносим, собираем, лепим и мечтаем!
            декорируем, клеим, режем, шлифуем, рисуем, наносим, собираем, лепим и мечтаем!</pre>
            <hr>
    </div>
{% endblock content %}

{% block footer %}
    <footer class="py-4 bg-dark">
        <div class="container">
            <p class="m-0 text-center text-white"><span style="color:hsl(304, 100%, 85%)">PBC </span><img src="{% static "deps/logo_image/sign_3.png" %}" alt="logo"><span style="color:hsl(304, 100%, 85%)"> ПОДАРОК В БОЛЬШОМ ГОРОДЕ</span></p>
        </div>
    </footer>
{% endblock  %} 

   




